.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  transition: background-image 1s;
}

.button-container{
  display: flex;
  align-items: center;
  background-color: white;
}

.header{
  font-size: 5vw;
  font-family: 'OCRa';
  color: #00FF2B;
  letter-spacing: -0.7vw;
  word-spacing: -1vw;
}

.morpheus{
  opacity: 1;
  margin-left: 10vw;
  position: relative;
}
.tv {
  position: relative;
  margin-left: 2vw;
  opacity: 1;
}
.morpheus img{
  height: 35vw;
}
.tv img{
  height: 28vw;
  position: relative;
  z-index: 25;
}
.neo img{
  height: 35vw;
}
.neo{
  margin-left: 2vw;
  position: relative;
  bottom: 0;
}

.exit-animation1 .morpheus,
.exit-animation1 .tv {
  animation: disapear 2s 100ms;
}

.exit-animation1 .neo {
  animation: fly 2s 200ms;
}

.exit-animation3 .tv img{
  animation: zoom 2s 100ms;
}

@keyframes fly {
  0%   {bottom: 0; left:0; scale:1}
  50%  {bottom: 0;left:-30vw ;scale:1.2}
  100%  {bottom: 150vh; left: -30vw; scale:1.5}
}

@keyframes disapear {
  0%   {left:0;scale:1}
  100% {left:-100vw;scale:2}
}

@keyframes zoom {
  0%   {scale: 1; opacity:1;} 
  100% {scale: 20; opacity:0;}
}

@keyframes background {
  0%   {opacity:1;} 
  100% { opacity:0;}
}

.exit-animation1 {
  background-image: url('../assets/background.gif');
  background-size: 1000px;
  opacity: 1;
  animation:background 0.5s 1.5s;
}

.exit-animation2 {
  visibility: hidden;
}
