
.works-container{
    width: 100dvw;
    height: 100dvh;
    
}
.works-container::before{
  content: '';
  position: fixed;
  background-image: url('../assets/background.gif');
  background-size: 1000px;
  display: flex;
  width: 100vw;
  height: 100vh;
  opacity: 0.1;
  animation: fade 0.4s;
  z-index: 0;
}
@keyframes zoom-in {
  0%   {scale:0.1; opacity: 0;} 
  100% { scale:1; opacity: 1;}
}
  @keyframes fade {
    0%   {opacity:1;} 
    100% { opacity:0.2;}
  }
  @keyframes reverse-fade {
    0%   {opacity:0;} 
    100% { opacity:1;}
  }
  @keyframes reverse-fade-p {
    0%   {opacity:0;} 
    100% { opacity:0.8;}
  }
.works{
    display: flex;
    justify-content: space-between;
    background-color: black;
    margin: 10vh 0 25vh 0;
    animation: zoom-in 0.4s;

}
.works-description{
    
    width: 40%;
    display: flex;
    color: #00FF2B;
    font-family: 'OCRa';
    display: flex;
    flex-direction: column;

}
.works-description h1{

    font-size: 3.5vw;
    color: #00FF2B;
    margin: 4vh 0;
    text-align: left;
    padding: 0 2vw;
    animation: reverse-fade 2s;
    z-index: 1;
}
.works-description p{

    font-family: 'Terminus';
    font-size: 1.25vw;
    color: #00FF2B;
    opacity: 0.8;
    text-align: left;
    padding: 0 2vw;
    animation: reverse-fade-p 2s;
    z-index: 1;
}
.works img{
    width: 60%;
    height: fit-content;
    z-index: 1;
}

